.para-style {
  color: #f9f9f9;
  font-size: 15px; }

.btn {
  font-size: 14px;
  color: #fff;
  background-color: #7b5eea;
  cursor: pointer;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  text-decoration: none;
  padding: 9px 28px;
  border: none;
  outline: none; }

.btn:hover {
  background-color: #6b4beb; }

.header-title {
  font-size: 90px;
  color: #7b5eea;
  opacity: .2;
  margin-bottom: -65px;
  user-select: none; }

.secondary-heading {
  font-size: 30px;
  line-height: 33px; }

@media (max-width: 991px) {
  nav {
    background: #0e052a !important;
    z-index: 4444 !important; }
    nav .nav-items {
      display: none; }
    nav #bur-icon {
      font-size: 26px;
      cursor: pointer;
      color: #ccc; }
    nav span.wallet-btn {
      position: absolute;
      top: 5px;
      right: 20px; }
    nav .mobile-menu {
      position: fixed;
      left: 0;
      top: 0;
      background: #0e052a;
      height: 100%;
      transition: .2s;
      width: 0%;
      overflow-x: hidden;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s; }
      nav .mobile-menu .close-btn {
        font-size: 32px;
        position: absolute;
        right: 23px;
        top: 10px;
        cursor: pointer; }
      nav .mobile-menu .items {
        width: 90%;
        margin: auto;
        margin-top: 65px; }
        nav .mobile-menu .items a {
          text-decoration: none;
          color: white;
          display: block;
          transition: .3s;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -ms-transition: .3s;
          -o-transition: .3s;
          margin-top: 6px;
          border-bottom: 1px solid transparent;
          padding-bottom: 5px; }
        nav .mobile-menu .items a:hover {
          color: #7b5eea;
          border-bottom: 1px solid #7b5eea; }
  .hero .home-img .hero-content {
    width: 100%;
    margin-top: 100px !important; }
  .concept .header p {
    width: 100% !important;
    text-align: center; }
  .concept .img-right {
    width: 80%;
    margin: auto; } }

@media (max-width: 575px) {
  p {
    font-size: 14px !important; }
  .img-right {
    width: 100% !important; }
  .footer-bottom {
    display: flex !important;
    flex-direction: column !important; }
    .footer-bottom p {
      font-size: 12px !important;
      margin-bottom: 15px !important; }
  .hero h2.mb-4 {
    font-size: 30px !important;
    line-height: 38px !important; }
  .pricing .p-content ul {
    display: flex !important;
    flex-direction: column !important; }
    .pricing .p-content ul li {
      margin-bottom: 10px !important; }
  .team .team-title h2 {
    font-size: 45px !important;
    margin-bottom: -32px !important; }
  .team .team-title h4 {
    font-size: 24px !important;
    line-height: 28px !important; }
  .wallet .download-area {
    display: flex;
    flex-direction: column; }
    .wallet .download-area button {
      margin-bottom: 15px !important; }
    .wallet .download-area ul {
      padding: 0 !important; }
  .feature .brand {
    padding: 0 !important; }
  .faq .card-header a {
    font-size: 14px !important; } }
